body{
    background-color: rgb(255, 255, 255);
}

html{
    height: auto;
    width: auto;
}

h1{
    color:rgb(255, 0, 0);
    text-align: center;
}

p{
    color:black;
    text-align: center;
    font-size: medium;
}
